Makefile
ac_config.h
config.log
config.status
doc/Makefile
examples/Makefile
examples/c++/.deps/
examples/c++/Makefile
examples/c*/example*
examples/c/.deps/
examples/c/Makefile
lib/.deps/
lib/Makefile
lib/libconfig++.pc
lib/libconfig.pc
libtool
stamp-h1
tests/.deps/
tests/Makefile
tinytest/.deps/
tinytest/Makefile
tests/libconfig_tests
*.o
*.lo
.libs
*.la
*.a
lib/libconfig*.Debug
lib/libconfig*.Release
lib/libconfig*.vcproj.*
